#home{
    header{
        background:#f9f9f9;
        @include flexbox();
        height: .44rem;
        text-align: center;
        line-height: .44rem;
        @include border(0 0 1px 0,#919191);
        i{
            width: .44rem;
            font-size: .18rem;
        }
        b{
            font-weight: normal;
            width: .44rem;
        }
        span{
            @include flex();
            img{
                height: .22rem;
            }
        }
    }
    .scroll{
        img{
            width: 100%;
        }

        .swiper-pagination{
            text-align:right;
            .swiper-pagination-bullet{
                background: #fff;
            }
        }
    }
}