
#home{
    @include flexbox();
    @include flex-direction(column);
    font-size: .15rem;
    header{
        @include border(0 0 1px 0,$bder-color);
        background:#f9f9f9;
        @include flexbox();
        height: .44rem;
        text-align: center;
        line-height: .44rem;

        //做兼容

        flex-shrink:0;
//      @include flex-shrink(0);
        i{
            width: .44rem;
            font-size: .18rem;
        }
        b{
            font-weight: normal;
            width: .44rem;
        }
        span{
            @include flex();
            img{
                height: .22rem;
            }
        }
    }
    
    .scroll{
        //轮播区
        .swiper-container{
            img{
            width: 100%;
            }
            P{
                text-indent: .15rem;
                font-size: .15rem;
                color: #fff;
                position: absolute;
                bottom: .06rem;
                @include ellipsis(80%,1);
                @include ellipsis(75%,1);
            }
            .swiper-pagination{
                text-align:right;
                .swiper-pagination-bullet{
                    background: #fff;
                }
            }
        }
        //导航
        .mainnav{
            @include flexbox();
            @include border(0 0 1px 0,$bder-color);
            background: #fff;
            height: .76rem;
            
            width: 100%;
            li{
                @include flex();
                @include flexbox();
                @include flex-direction(column);
                @include align-items(center);
                @include justify-content(center);
                img{
                    width:.33rem;
                }
                b{
                    line-height: .30rem;
                }
            }
        }
        .list{

            img{
                width: 100%;
            }
            font-size: .15rem;
            background: #fff;
            margin-top: .10rem;
            padding:0 12px;
            .type2{
                h5{
                    height: .5rem;
                    line-height: .5rem;
                }
                img{
                    width: 100%;
                }
                @include border(0 0 1px 0,#e4e4e4);
                p{
                    height: .5rem;
                    line-height: .5rem;
                }
            }
            .type1{
                @include flexbox();
                @include align-items(flex-start);
                @include justify-content(space-between);
                @include border(0 0 1px 0,#e4e4e4);
                padding: 18px 0;
                img{
                    width:1.04rem;
                    height: .80rem;
                }
            }
            .type3{
                @include border(0 0 1px 0,#e4e4e4);
                h5{
                    height: .53rem;
                    line-height: .53rem;
                }
                .imgbox{
                    @include flexbox();
                    @include justify-content(space-around);
                    width: 100%;
                    div{
                        width: 5px;
                        //做兼容
                        flex-shrink:0;
                    }
                    img{
                        width: 33%;
                        height: .80rem;
                    }
                    
                }
                p{
                    height: .53rem;
                    line-height: .53rem;
                }
            }
            
        }
    }
}