.m-index{
    width: 100%;
    height: 100%;
    @include flexbox();
    @include flex-direction(column);
    #m-container{
        @include flex();
        width: 100%;
        position: relative;
    }
    footer{
        height:50px;
        ul{
            background:#fff;
            height: 100%;
            @include flexbox();
            @include border(1px 0 0 0, #919191);
            li{
                text-align: center;
                color:#919191;
                @include flex();
                @include flexbox();
                @include flex-direction(column);
                @include justify-content(center);
                position: relative;
                &:nth-child(3) i{
                    background: $base-color;
                    height: 50px;
                    width: 50px;
                    color:#fff;
                    line-height: 50px;
                    position: absolute;
                    top:-0.1rem;
                    left:50%;
                    z-index: 9999;
                    @include transform(translate(-50%, 0));
                    @include border-radius(50%);
                }
                &:nth-child(3) b{
                    
                    height: .56rem;
                    width: .56rem;
                    top:-0.13rem;
                    left:50%;
                     @include transform(translate(-50%, 0));
                     @include border(1px,#919191,solid,50%);
                     
                     position: absolute;
                     z-index: 5000;
                     background: #fff;
//                  border: 1px solid#919191;
//                  @include border-radius(50%);
                }
            }
            i{
                font-size: .20rem;
                line-height: .34rem;
                height: .28rem;
            }
            b{
               font-size: .12rem; 
            }
            
            li.active{
                color:$base-color;
            }
            
        }
    }
}
